version: '3.8'

services:
  # --- Frontend (React SPA Served via Nginx) ---
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: cmms_frontend_prod
    restart: unless-stopped
    ports:
      - "2506:80"
    depends_on:
      - backend
    networks:
      - raitek_server

  # --- Backend (Golang REST API Server) ---
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: cmms_backend_prod
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "4000:4000"
    networks:
      - raitek_server

networks:
  raitek_server:
    external: true
    name: raitek_server
